body {
    display: inline-flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    caret-color: transparent;
}

main {
    display: inline-flex;
    flex: 1;
    height: 100%;
}

aside {
    z-index: 2;
    color: rgb(225 225 225);
    background: rgb(22 25 28);
}

#app-icon {
    color: white;
    background: #6c63ff;
    height: 67.5px;
    margin-bottom: 7px;
    border-color: rgb(40, 46, 53) !important;
    border-bottom-width: 3px !important;
    padding: 2px 0 0 0;
}

.side-menu {
    display: flex;
    flex: 1;
}

.side-item {
    padding: 5px 0 5px 0;
    cursor: pointer;
}

.icon {
    font-size: 1.2rem; 
    width: 24px; 
    height: 24px;
}

.brand-item > i {
    font-size: 1.8rem; 
    width: 32px; 
    height: 32px;
    cursor: pointer;
}

.flex-placeholder {
    flex: 1;
}

.fa-user {
    font-size: 1.4rem; 
    padding: 5px 0 5px 0; 
    border-color: rgb(225 225 225);
}

.side-tab {
    position: fixed;
    left: -300px;
    top: 0;
    width: 315px;
    height: 100vh;
    background: rgb(22 25 28);
    color: white;
    transition: left 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.lfriend-header {
    height: 67.5px;
    background: #6c63ff;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: rgb(40, 46, 53) !important;
    border-bottom-width: 3px !important;
    padding-bottom: 12px !important;
    padding-left: 25px;
    padding-top: 10px;
}

.lchat-header {
    height: 64.5px;
    background: #6c63ff;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-top: 10px;
}

.chat-tabs {
    display: flex;
    flex-wrap: wrap;
    background: rgb(17, 20, 22);
}

.chat-tab {
    background: #302e59;
    color: white;
    padding: 5px 14px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s ease;
    flex-shrink: 0;
    text-align: center;
    line-height: 1.5;
}

.chat-tab:hover, .chat-tab.active {
    background: #504ac2;
}

#chat-header-user {
    font-size: 18px;
    font-weight: 500;
}

.lchat-content, .lfriend-content {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lfriend-content {
    padding: 10px 0;
}

.lchat-msg-wrapper {
    flex-grow: 1;
    overflow-y: scroll;
}

.lchat-msg-wrapper::-webkit-scrollbar {
    display: none;
}

.lchat-msg-wrapper .msg-ctn {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-top: 5px;
}

.message {
    color: rgb(165, 175, 186);
    margin-bottom: 2px;
    text-align: end;
    list-style: none;
    font-size: 16px;
    padding: 0 8px;
    max-width: 95%;
    word-wrap: break-word;
    justify-self: flex-end;
}

.message.user-sent {
    text-align: start;
    justify-self: flex-start;
}

#private-sent-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

#friend-list-container {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    overflow-y: auto;
}

.friend-item {
    display: flex;
    justify-content: space-between;
    padding: 12px 18px;
    background-color: rgba(0, 0, 0, 0.2);
}

.friend-item.online {
    background-color: rgba(0, 0, 0, 0);
}

.friend-name {
    font-size: 16px;
    color: #fff;
    flex-grow: 1;
    align-content: center;
}

.friend-status {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.online-status-dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #c14138;
    align-self: center;
    margin-right: 8px;
}

.online .online-status-dot {
    background-color: #4da550;
}

.dm-icon-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    color: #9692d3;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.dm-icon-button:hover {
    color: #8983eb;
}

.online .dm-icon-button {
    display: block;
}

#chat-toggle, #friend-toggle {
    cursor: pointer;
}

.side-tab.open {
    left: 75px;
}

.player-container {
    height: 100%;
    width: 77%;
    display: inline-flex;
    flex-direction: column;
    background: rgb(25, 29, 33);
}

.media-container {
    height: 90%;
    background: rgb(7, 8, 9);
    padding: 12px;
}

.player-menu {
    display: inline-flex;
    width: 100%;
    height: 9.5%;
    margin: 0;
    padding: 12px 28px;
    color: rgb(217, 219, 221);
}

.player-menu > li {
    list-style: none;
}

#movie-title {
    color: rgb(215, 215, 215);
    list-style: none;
    font-weight: bold;
    font-size: 28px;
    cursor: default;
}

#new-movie {
    height: 38px;
    margin-left: 16px;
    margin-top: 5px;
    background: #6c63ff;
}

#new-movie > div {
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

#expand {
    font-size: 26px;
    margin: 5px 5px 0 20px;
    cursor: pointer;
}

.chat-box {
    height: 100%;
    flex: 1;
    display: inline-flex;
    flex-direction: column;
    background: rgb(17, 20, 23);
    overflow: hidden;
}

.chat-box > .header {
    height: 100px;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    padding-right: 10px;
    background: rgb(22 25 28);
}

.chat-box > .header > .desc {
    padding: 16px 16px 16px 24px;
    flex: 1;
}

#leave, #power-off {
    height: 100%;
    color: rgb(200, 200, 200);
    font-size: 22px;
    padding: 36px 10px;
    cursor: pointer;
}

.media-box-desc {
    display: inline-flex;
    flex-direction: row;
}

#media-box-name {
    color: rgb(200, 200, 200);
    font-size: 24px;
    font-weight: bold;
    cursor: default;
}

#box-id {
    color: rgb(153, 153, 153);
    font-size: 18px;
    font-weight: bold;
    cursor: default;
    margin-top: 12px;
    margin-left: 7px;
    text-align: bottom;
}

.media-participant-count {
    display: flex;
    padding: 3px 2px;
    cursor: default;
}

.media-participant-count > i {
    color: rgb(200, 200, 200);
    font-size: 13px;
    padding-top: 7px;
    padding-right: 6px;
}

#participant-value {
    color: rgb(200, 200, 200);
    font-size: 18px;
    padding-left: 2px;
    font-weight: bold;
}

.tab-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    flex: 1;
}

.tab-content.active {
    display: block;
}

.tabcontainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.tab-list {
    flex: 1;
    padding: 12px 24px;
}

#message-tab-content > div {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#message-box {
    overflow-y: scroll;
}

#message-box::-webkit-scrollbar {
    display: none;
}

#message-box > .message {
    color: rgb(165, 175, 186);
    margin-bottom: 2px;
    text-align: end;
    list-style: none;
    font-size: 16px;
    padding: 0 8px;
    max-width: 85%;
    word-wrap: break-word;
    justify-self: flex-end;
}

#message-box > .sender {
    color: rgb(165, 175, 186);
    margin: 2px 0;
    text-align: end;
    list-style: none;
    font-weight: bold;
    font-size: 14px;
    cursor: default;
}

#message-box > .user-sent {
    text-align: start;
    justify-self: flex-start;
}

.message-input {
    width: 100%;
    display: inline-flex;
    padding: 20px;
    padding-bottom: 3px;
}

#input-text {
    flex: 1;
    border: 0;
    background: rgb(17, 20, 23);
    border-bottom: 3px solid rgb(188, 198, 209);
    color: rgb(188, 198, 209);
    caret-color: white;
}

#input-text:focus {
    outline-width: 0;
}

#sent-message {
    width: 20px;
    color: rgb(196, 207, 217);
    font-size: 28px;
    margin-left: 18px;
    cursor: pointer;
}

#member-box {
    padding: 0;
}

#member-tab-content > div {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#member-box {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

#member-box::-webkit-scrollbar {
    display: none;
}

#member-box > .member-item {
    display: inline-flex;
    flex-direction: row;
    background: rgb(24, 30, 36);
    height: 4.5rem;
    width: 100%;
}

#member-box.auth > .member-item > .after {
    content: "\f00d";
    position: absolute;
    right: -6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    width: 6rem;
    font-size: 2.8rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    background: #d9534f;
    transition: right 0.2s ease;
    cursor: pointer;
}

#member-box > .member-item.owner > .after {
    content: "\f521";
    position: relative;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    margin-right: 13px;
    font-size: 1.7rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #e7cb5a;
    background: none;
    cursor: default;
}

#member-box.auth > .member-item:hover > .after {
    right: 0;
}

#member-box > .member-item > .icon {
    display: flex;
    width: 20%;
    height: 100%;
}

#member-box > .member-item > .icon > i {
    font-size: 2.5rem;
    color: rgb(196, 207, 217);
    margin: auto;
}

#member-box > .member-item > .title {
    margin: auto 0.1rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(196, 207, 217);
    flex: 1;
}

/* Box tab */
.tabs {
    background: rgb(7, 9, 14);
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 11%;
    margin: 0;
    padding: 0;
    padding-bottom: 7px;
}

.tabs > .tab {
    display: flex;
    background: none;
    flex: 1;
    height: 100%;
    cursor: pointer;
    transition: 0.3s ease;
}

.tabs > .tab.active {
    background-color: rgb(17, 20, 23);
    flex: 1.5;
    transition: 0.3s ease;
    overflow: hidden;
}

.tabs > .tab.active[data-name="message-tab"]{
    border-bottom-right-radius: 3rem; 
}

.tabs > .tab.active[data-name="member-tab"]{
    border-bottom-left-radius: 3rem; 
}

.tabs > .tab > i {
    margin: auto;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(196, 207, 217);
}

/* Movie search */
.movie-search {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    background: rgb(7, 8, 9);
}

#movie-query-input {    
    height: 70px;
    padding: 0 30px;
    background: #d3d3d3;
    outline: none;
    border: none;
    font-size: 20px;
    margin: 30px 40px 0px 40px;
}

#movie-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 35px 30px 15px 30px;
    background: rgb(7, 8, 9);
    overflow-y: auto;
}

.movie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 3px;
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
    background-color: rgb(7, 8, 9);
    cursor: pointer;
    max-height: 420px;
}

.movie-item:hover {
    background-color: rgb(19, 22, 26);
    transform: translateY(-5px);
}

.movie-item img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
}

.movie-item h3 {
    font-size: 18px;
    color: #f4f4f4;
    margin: 10px 0 0;
    font-weight: 700; 
    text-align: center;
}

.movie-item .movie-id {
    display: none;
}

#movie-grid::-webkit-scrollbar {
    display: none;
}

/* Popup menu */
#context-menu.d-none {
    display: none;
}

#context-menu {
    display: block;
    position: absolute;
    background: #6c63ff;
    color: white;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    border-top-left-radius: 0;
    overflow: hidden;
}

#context-menu li {
    padding: 8px 12px;
    cursor: pointer;
}

#context-menu li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}